.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.2) !important;
  border-top: 4px solid #ffffff !important;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;



}

.spinner-show {
  opacity: 1;

}

@media (max-width: 1024px) {
  .spinner {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1025px) {
  .spinner {
    width: 30px;
    height: 30px;
  }
}