.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #3c97f2;
  color: white;
  padding: 10px;
}

@media (max-width: 1024px) {
  .header-container img {
    width: 32px;
  }

  .header-container h2 {
    font-size: 28px;
  }
}

@media (max-width: 640px) {
  .header-container img {
    width: 24px;
  }

  .header-container h2 {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .header-container img {
    width: 45px;
  }

  .header-container h2 {
    font-size: 32px;
  }
}

@media (min-width: 1025px) {
  .header-container img {
    width: 45px;
  }

  .header-container h2 {
    font-size: 32px;
  }
}
