.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0.4;
}

.fade-wrapper {
  transition: all 1s ease;
}

.skeleton-info-container {
  min-height: clamp(90px, 12vw, 160px);
  width: 100%;
}

.skeleton-day {
  height: 100%;
  width: 100%;

}

.skeleton-img {
  width: 100%;
  height: 100%;
}

.weather-desc .skeleton-text {
  margin-top: 10px;
}


@media (max-width: 1024px) {

  .temp .skeleton-text {
    width: 194.78px;
    height: 64px;

  }

  .weather-desc .skeleton-text {
    width: 140px;
    height: 30px;

  }

  .feels-like .skeleton-text {
    width: 110px;
    height: 18px;
  }

  .max-min-temp .skeleton-text {
    width: 140px;
    height: 16px;
  }


  .weather-img-skeleton {

    padding: 40px;
  }

  .skeleton-detailes-img {
    padding: 20px;
  }
}

@media (max-width:640px) {
  .temp .skeleton-text {
    width: 180px;
    height: 56px;

  }

  .weather-desc .skeleton-text {
    width: 110px;
    height: 27px;

  }

  .feels-like .skeleton-text {
    width: 90px;
    height: 16px;
  }

  .max-min-temp .skeleton-text {
    width: 120px;
    height: 14px;

  }

  .weather-img-skeleton {

    padding: 30px;
  }

  .skeleton-detailes-img {
    padding: 10px;
  }
}

@media (max-width:440px) {
  .temp .skeleton-text {
    width: 135px;
    height: 50px;

  }

  .weather-img-skeleton {

    padding: 20px;
  }
}

@media (min-width: 1025px) {


  .temp .skeleton-text {
    width: 257px;
    height: 80px;

  }

  .weather-desc .skeleton-text {
    width: 170px;
    height: 36px;


  }

  .feels-like .skeleton-text {
    width: 130px;
    height: 20px;
  }

  .max-min-temp .skeleton-text {
    width: 160px;
    height: 18px;

  }

  .day .skeleton-text {
    width: 100%;
  }

  .weather-img-skeleton {

    padding: 50px;
  }

  .skeleton-detailes-img {
    padding: 30px;
  }

}